.grid{
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  background-image: url('clouds-2517653_640.jpg');
  position: relative;
  color: rgb(209, 251, 103);
  font-size: 200px;
  text-align: center;
}
.doodler{
  width: 70px;
  height: 85px;
  background-image: url('superhero.png');
  position: absolute;
}
.platform{
  width: 85px;
  height: 25px;
  background-image: url('loading.png');
  position: absolute;
}
body{
  margin: 0;
}